/* line 1, ../scss/admin.scss */
.headline-title-row {
  margin-top: 10px;
}
/* line 4, ../scss/admin.scss */
.headline-title-row .title-wrap {
  margin-left: 37px;
  margin-right: 125px;
}
/* line 8, ../scss/admin.scss */
.headline-title-row .title-wrap.original-title {
  margin-right: 50px;
}
/* line 12, ../scss/admin.scss */
.headline-title-row .title-wrap input[type="text"] {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0;
}
/* line 23, ../scss/admin.scss */
.headline-title-row .variation-conversion {
  float: right;
  width: 50px;
  display: block;
  font-size: 0.8em;
  line-height: 37px;
  text-align: right;
  height: 1.4em;
}
/* line 32, ../scss/admin.scss */
.headline-title-row .variation-conversion.positive {
  color: green;
}
/* line 36, ../scss/admin.scss */
.headline-title-row .variation-conversion.negative {
  color: red;
}
/* line 41, ../scss/admin.scss */
.headline-title-row .variation-position {
  float: left;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4em;
  border-radius: 1.4em;
  display: block;
  width: 1.4em;
  background: #2ea2cc;
  color: #fff;
  margin-top: .3em;
}
/* line 54, ../scss/admin.scss */
.headline-title-row .remove-variation {
  float: right;
  margin-top: 6px;
}

/* line 61, ../scss/admin.scss */
#titlediv .add-variation {
  margin-top: 10px;
}

/* line 68, ../scss/admin.scss */
.wp-list-table.report {
  border-collapse: collapse;
}
/* line 71, ../scss/admin.scss */
.wp-list-table.report th {
  font-size: 11px;
}
/* line 75, ../scss/admin.scss */
.wp-list-table.report td {
  border: 1px solid #eee;
  font-size: 11px;
}
/* line 79, ../scss/admin.scss */
.wp-list-table.report td.header {
  font-size: 13px;
  background-color: #f1f1f1;
}
/* line 86, ../scss/admin.scss */
.wp-list-table.report .start td {
  border-top: 3px solid #ccc;
}
/* line 93, ../scss/admin.scss */
.wp-list-table.report .date-total.header td {
  border-top: 3px solid #ccc;
}
/* line 99, ../scss/admin.scss */
.wp-list-table.report .column-date {
  vertical-align: middle;
}
/* line 103, ../scss/admin.scss */
.wp-list-table.report .column-goals {
  width: 10%;
  text-align: center;
}
/* line 108, ../scss/admin.scss */
.wp-list-table.report .column-visits {
  width: 10%;
  text-align: center;
}
/* line 113, ../scss/admin.scss */
.wp-list-table.report .column-conversion_delta {
  width: 10%;
  text-align: right;
}
/* line 117, ../scss/admin.scss */
.wp-list-table.report .column-conversion_delta .positive {
  color: green;
}
/* line 121, ../scss/admin.scss */
.wp-list-table.report .column-conversion_delta .negative {
  color: red;
}
/* line 126, ../scss/admin.scss */
.wp-list-table.report .column-conversion_rate {
  width: 10%;
  text-align: right;
}
